.idea/amazon-grab.iml
.idea/blade.xml
.idea/inspectionProfiles/
.idea/modules.xml
.idea/php.xml
.idea/workspace.xml
.idea/
.git/
vendor/
node_modules/
storage/app/
storage/framework/
storage/framework/cache/
storage/framework/views/
storage/framework/sessions/
storage/logs/
node_modules/**
package-lock.json
vendor/doctrine/common/lib/vendor/
vendor/guzzlehttp/guzzle/build/
vendor/guzzlehttp/guzzle/docs/
vendor/guzzlehttp/guzzle/tests/
vendor/webpatser/laravel-countries/src/flags/.DS_Store
node_modules/*
t.php

